@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-accent: oklch(82.68% 0.108 306.38);
  --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
